.article {
  display: flex;
  margin-bottom: 0.75rem;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem 3.5rem;
  background-color: #d1d5db;
  border-radius: .75rem;
}

.points__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: .85;
}

.points__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.content__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.content__domain {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: #6b7280;
}

.content__buttons {
  display: flex;
}

.btn-vote {
  text-decoration: none;
  color: #3b82f6;
}
