<div class="product" [class.product--selected]="isSelected" (click)="onSelected()">
  <div class="product__image">
    <img class="img--small" [src]="product.imageUrl" />
  </div>
  <div class="product__content">
    <div class="product-name">{{ product.name }}</div>
    <div class="product-sku">SKU #{{ product.sku }}</div>
    <div class="product-department">
      @for(name of product.department; track $index;) {
        <span class="product-department__break-crumb">
          <a class="breadcrumb__link">{{ name }}</a>
          @if($index < product.department.length - 1) {
            <span class="breadcrumb__separator">/</span>
          }
        </span>
      }
    </div>
  </div>
  <div class="product__price">${{ product.price }}</div>
</div>
