<div class="product">
  <div class="product__image">
    <img class="img--small" [src]="product.imageUrl" />
  </div>
  <div class="product__content">
    <div class="product-name">{{ product.name }}</div>
    <div class="product-sku">SKU #{{ product.sku }}</div>
    <div class="product-department">
      <span class="product-department__break-crumb">
        <a class="breadcrumb__link">Men</a>
        <span class="breadcrumb__separator">/</span>
      </span>
    </div>
  </div>
  <div class="product__price">${{ product.price }}</div>
</div>
