
<header class="header">
  <div class="header__logo">ng-book</div>
  <div class="header__title">Angular Simple Inventory App</div>
</header>
<div class="container">
  <div class="product product--selected">
    <div class="product__image">
      <img class="img--small" src="/assets/images/products/black-hat.jpg" />
    </div>
    <div class="product__content">
      <div class="product-name">A Nice Black Hat</div>
      <div class="product-sku">SKU #NICEHAT</div>
      <div class="product-department">
        <span class="product-department__break-crumb">
          <a class="breadcrumb__link">Men</a>
          <span class="breadcrumb__separator">/</span>
        </span>
      </div>
    </div>
    <div class="product__price">$29.99</div>
  </div>
</div>
